$general-font: "Helvetica, sans-herif";

$fs-small:  8px;
$fs-normal: 10px;
$fs-large: 12px;
$fs-xlarge: 14px;
$fs-xxlarge: 16px;


$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;


$epias-color: #101D49;
$first-color: white;
$second-color: #131A48;
$third-color: #1C36A4;
$forth-color: #E4E4E2;
$fifth-color: #000000;
$sixth-color: #DBDCB5;
$seventh-color: #EFEFEF;


$header-height: 4.375rem;

